/* 
    Document   : default
    Created on : 13-mrt-2012, 21:40:21
    Author     : webmaster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body, html
{
    font-family: Arial;
}

*
{
    padding: 0px;
    margin: 0px;
}

nav h2
{
    display: none;
}

header
{
    display: block;
    clear: both;
    width: 960px;
}

header h1
{
    margin: 20px 0;
    text-transform: uppercase;
}

#mainWrapper
{
    width: 960px;
    margin: 0 auto;
}


nav
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.navigation
{
    clear: both;
    margin: 10px 0 0 -10px;
    height: 30px;
}

.navigation li
{
    display: inline;
    float: left;
}

.navigation a
{
    padding: 10px;
    color: black;
    text-decoration: none;
}

section
{
    float: left;
    width: 680px;
    padding: 20px 20px 20px 0;
    border-right: 1px solid #ccc;
}

#sidebar
{
    float: right;
    width: 200px;
    padding: 20px 0 0 20px;
    border: none;
}

footer
{
    float: left;
    clear: both;
    border-top: 1px solid #ccc;
    width: 960px;
    padding-top: 20px;
    text-transform: uppercase;
}

.newsItem h2{
    font-size: 16px;
}

.newsItem
{
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

article h1{
    text-transform: uppercase;
    font-size: 18px;
}