/* 
    Document   : default
    Created on : 13-mrt-2012, 21:40:21
    Author     : webmaster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*
{
    padding: 0px;
    margin: 0px;
}

nav h2, section h2
{
    display: none;
}

header
{
    display: block;
    clear: both;
    width: 960px;
}

#mainWrapper
{
    width: 960px;
    margin: 0 auto;
}


.navigation
{
    clear: both;
}

.navigation li
{
    display: inline;
    float: left;
}

.navigation a
{
    padding: 10px;
    color: black;
    text-decoration: none;
}
